/**
* Main CSS
*/
body {
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main_container{
  max-width: 37.5rem;
  flex: 1 1 0%;
  margin: 10px auto;
  margin-top: 7rem;
}

.container{
  max-width: 37.5rem;
  padding: 0;
}

.footer_container{
  text-align: center;
}

.loading_title{
  text-align: center;
  margin-top: 0;
}

/**
* Header Style
*/
.tail-wrapper {
  position: relative;
}
.navbar-brand {
  color: black;
}
.tail-wrapper .tail-text {
  position: relative;
  z-index: 2;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}
.tail-wrapper .yellow-dash-start {
  height: 13px;
  width: 60px;
  background: #FECF28;
  position: absolute;
  left: 3px;
  bottom: 4px;
  z-index: 1;
}
.tail-wrapper .yellow-dash-end {
  height: 13px;
  width: 25px;
  position: absolute;
  right: -25px;
  bottom: 4px;
  z-index: 1;
}
.jumbotron h1, .jumbotron .h1 {
  text-align: center;
}
.jumbotron p, .jumbotron .p {
  padding: 2px 10px;
  font-size: 16px;
  text-align: center;
}

/**
* Badge
*/

.badge__type{
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  font-weight: normal;
  padding: 5px 10px;
}

.badge__type-normal{
  background: #FFC107;
}

.badge__type-fighting{
  background: #009688;
}

.badge__type-flying{
  background: #536DFE;
}

.badge__type-poison{
  background: #689F38;
}

.badge__type-ground{
  background: #795548;
}

.badge__type-rock{
  background: #3E2723;
}

.badge__type-bug{
  background: #FFB300;
}

.badge__type-ghost{
  background: #673AB7;
}

.badge__type-steel{
  background: #757575;
}

.badge__type-fire{
  background: #F44336;
}

.badge__type-water{
  background: #3F51B5;
}

.badge__type-grass{
  background: #43A047;
}

.badge__type-electric{
  background: #FDD835;
}

.badge__type-psychic{
  background: #651FFF;
}

.badge__type-ice{
  background: #2196F3;
}

.badge__type-dragon{
  background: #FF1744;
}

.badge__type-dark{
  background: #212121;
}

.badge__type-fairy{
  background: #FF4081;
}

.badge__type-unknown{
  background: #607D8B;
}

.badge__type-shadow{
  background: #37474F;
}

.panel-body{
  text-align: center;
}

.pockedex-data-list{
  padding: 0;
}

.pockedex-data-list__column{
  display: inline-block;
  width: 50%;
}

.pockedex-data-list__left{
  text-align: left;
  border-right: 1px solid #ddd;
  padding: 10px 0 10px 15px;
  background: #f5f5f5;
}

.pockedex-data-list__right{
  text-align: right;
  padding: 10px 15px 10px 0;
}

/**
* Progress and Loading Bar
*/

.progress{
  margin: 0;
}

.load-wrapp {
  float: left;
  width: 100%;
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
}

.load-wrapp p {
  padding: 0 0 20px;
}

.load-wrapp:last-child {
  margin-right: 0;
}

.line-break {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 10px;
    background: #dddddd;
}

.prog-bar .line-break:nth-last-child(1) {
  animation: loadingB 1.5s 1s infinite;
}

.prog-bar .line-break:nth-last-child(2) {
  animation: loadingB 1.5s .5s infinite;
}

.prog-bar .line-break:nth-last-child(3) {
  animation: loadingB 1.5s 0s infinite;
}

@keyframes loadingB {
  0 {width: 15px;}
  50% {width: 35px;}
  100% {width: 15px;}
}

.background-white {
  background-color: white;
}

.timeline-wrapper {
  width: 100%;
}

.timeline-item {
  width: 100px;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  padding: 25px;
  margin: 0 auto;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.animated-background-line {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 10px;
  position: relative;
  top: 10px;
  left: 30px;
}

.background-masker-line {
  background: #fff;
  position: absolute;
}

.timeline-item-line {
  width: 100px;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  padding: 0;
  margin: 0 auto;
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 40px;
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
}